/* styles.module.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', serif;
}
.arrow {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}

.slide-out {
  transition: transform 1s ease, opacity 1s ease;
}

.slide-out {
  position: absolute;
  display: flex;
  flex-direction: row;
  transform: translateY(0);
  opacity: 1;
}
.slide-in {
  transform: translateY(100%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.animate:hover .slide-in {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0s, .5s; 
}

.animate {
  padding: 5rem 15rem;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.animate:hover .slide-out{
   transform: translateY(-100%);
  opacity: 0;
}

.animate:hover .slide-in{
  animation-delay: 2s;
  opacity: 1;
}

a,
.indent a {
  text-decoration: none;
  transition: color 0.3s;
  color: #f8f8f8;
  max-width: fit-content;
}

a:hover,
.indent a:hover,
.nav-btn:hover,
.tab-header:hover {
  color: #4B2E83;
}

body {

  margin: 0;
  background-color: #000;
  color: #f8f8f8;
}

li {
  margin: 2px;
}

li::marker {
  margin-left: 10px;
}

ul {
  margin: 20px 35px;
}

main {
  padding-top: 5%;
  margin-top: 3rem;
}

.text-box {
  padding-top: 1rem;
  line-height: 1.75rem;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  margin: 0.9rem 0;
  font-size: 2rem;
}

article {
  justify-content: center;
  flex-wrap: wrap;
}

article section {
  padding: 10px;
}

article img,
.mummy img {
  max-width: 70%;
  margin: 5% auto 0 auto;
}

#halo {
  padding: 3rem 0;
  background: radial-gradient(closest-side, #222222, #000000);
}

#resumer {
  margin: 5rem auto;
}

.main {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 3rem;
  font-weight: 500;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.title-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.margr {
  margin-right: 1.3rem;
}

.container {
  margin: 2rem;
  max-width: auto;
}

.stick-left {
  position: fixed;
  bottom: 0;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: #f8f8f8;
  letter-spacing: 1rem;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #000;
}

.logo:hover {
  animation: rotate 0.5s ease-in-out;
}

.logo img {
  height: 40px;
}

.btn {
  background-color: #4B2E83;
  margin: 2rem 0;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #3a1f5c;
}

.nav-btn {
  padding: .7rem;
  font-size: 1.2rem;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

blockquote p {
  width: 80vw;
  padding: 1%;
  margin: auto;
}

footer {
  padding: 2%;
}

p {
  line-height: 1.6rem;
  font-size: 1.2rem;
}

.tab-header {
  transition: color 0.3s;
}

.box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #d4d4d4;
  padding: 5%;
}

.fol-con {
  max-width: 340px;
  margin: 50px;
  display: flex;
  overflow: hidden;
  font-family: 'Montserrat', serif;
  margin-bottom: 5rem;
  flex-direction: column;
  border: none;
  transition: color 0.3s ease-in-out;
}

.card-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.photo {
  overflow: hidden;
  border-radius: 20px;
  height: 340px;
  width: 340px;
}

.photo1 {
  overflow: hidden;
  border-radius: 20px;
  height: 340px;
  width: 340px;
  margin: 20px;
}

.photo2 {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 150px;
  width: 150px;
  margin: 20px;
}

.fol-con:hover .card-text{
  opacity: 1;
}
.fol-con img {
  transition: transform 0.3s ease-in-out;
}

.fol-con:hover img{
  transform: scale(1.05);
}

.folio-c {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.portfolio img {
  max-width: 100%;
  padding: 5%;
}

.portfolio {
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin: 2em 0;
}

.portfolio-link {
  color: black;
  text-decoration: none;
  max-width: fit-content;
}

.icon-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  align-items: center;
}

.icon-group p {
  max-width: fit-content;
}

.socials {
  max-height: 40px;
}


#boogie {
  padding-top: 20px;
}


.read-text {
  font-size: 1.2rem;
  padding-top: 10px;
}

.my-row {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hobby {
  display: flex;
  flex-direction: column;
}

.hobby-box {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.design {
  letter-spacing: 0.75rem;
  margin: 1rem 0;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.selected {
  text-decoration: overline;
}

.content {
  align-content: center;
  text-align: center;
  margin: auto;
  min-height: 300px;
}

.content p {
  padding: 0 1.2em;
  font-size: 1.2rem;
  width: 60%;
}

.photos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.caption {
  position: absolute;
  text-align: center;
  top: 0%; /* Position at the bottom of the photo2 container */
  left: 0%;
  width: 90%;
  height: 90%;
  padding: 10px; /* Add some padding for better appearance */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  text-align: center;
  opacity: 0;
  /* Smooth transition for opacity over 0.3 seconds */
  transition: opacity 0.3s ease-in-out;
  /* Optional: Prevents the caption from blocking mouse events on the image itself */
  pointer-events: none; 
}

/* State on hover over photo2 */
.photo2:hover .caption {
  opacity: 1; /* Make the caption fully visible */
  pointer-events: auto; /* Allow mouse events on the caption when visible */
}

.spacer {
  width: 40%;
  height: 10vh;
  margin: 0;
}

#sub-menu {
  display: flex;
  margin: 10rem 0 3rem 0;
  justify-content: space-around;
}

#action {
  display: flex;
}

#start-up {
  padding-top: 0;
  margin-top: 3rem;
}

#link {
  text-decoration: underline;
}

.img-side {
  flex: 1;
  text-align: center;
}

.text-side {
  flex: 1;
  padding: 0 1.2em;
}

.indent p {
  padding-left: 5%;
  padding-right: 5%;
}

.mummy {
  margin: 5% 0;
}

.top-pad {
  padding-top: 5%;
}

button {
  border: none;
  background-color: white;
  padding: 0;
  margin-bottom: 2%;
}


@media (max-width: 768px) {

  .arrow {
    width: 150px;
    height: 150px;
  }
  .container {
    width: auto;
  }

  main {
    margin-top: 0;
  }

  .title-container {
    flex-direction: column;
    align-items: center;
  }

  .margr {
    margin-right: 0;
  }

  .fol-con {
    max-width: 286px;
    margin: 20px 0px;
  }

  .photo img{
    height: 100%;
    width: 100%;
  }

  .photo {
    height: 286px;
    width: 286px;
  }
  .folio-c {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .card-text {
    opacity: 1;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    letter-spacing: normal;
  }
  .slide-out {
    position: relative;
  }
  .slide-in {
    margin-top: 50px;
    opacity: 1;
    transform: translateY(0);
  }

  .design {
    letter-spacing: 0.4rem;
    margin: 1rem 0;
    font-size: 1rem;
  }

  #halo {
    max-width: fit-content;
    background-color: none;
    padding-bottom:0;
  }
  .animate {
    flex-direction: column;
    padding: .5rem;
  }

  .hamburger {
    display: block;
  }

}